:root {
  --font-cht: "Just Me Again Down Here", "Noto Sans TC", cursive, sans-serif;
  --font-en-allerta: "Allerta Stencil", sans-serif;
  --font-en-raleway: "Raleway", sans-serif;
  --font-en-just: "Just Me Again Down Here", cursive;
  --font-en-oleo: "Oleo Script Swash Caps", system-ui;
  --blue-green: #5BC0BE;
  --aqua-green: #6FFFE9;
  --dark-purple: #86757F;
  --blue-purple: #7D82B8;
  --blue-purple-rgba: #7d82b878;
  --purple: #613F75;
  --white-pink: #F8EDEB;
  --bg-pink: #f0e8e7;
  --pink: #FFB5A7;
  --coral-red: #FF595E;
  --dark-gray: #9B9B9B;
  --text-gray: #656161;
  --gray: #EEEEEE;
  --gray-rgba: rgba(238, 238, 238, 0.8);
  --gray-rgbaa: rgba(238, 238, 238, 0.2);
  --bg-gray: #D9D9D9;
  --spacing-160: 16rem;
  --spacing-120: 12rem;
  --spacing-80: 10rem;
  --spacing-64: 6.4rem;
  --spacing-40: 4rem;
  --spacing-32: 3.2rem;
  --spacing-24: 2.4rem;
  --spacing-16: 1.6rem;
  --spacing-8: 0.8rem;
}
@media (max-width: 575.98px) {
  :root {
    --spacing-160: 24vw;
    --spacing-120: 20vw;
    --spacing-80: 16vw;
    --spacing-64: 14vw;
    --spacing-40: 10vw;
    --spacing-32: 8vw;
    --spacing-24: 6vw;
    --spacing-16: 4vw;
    --spacing-8: 2vw;
  }
}

* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}
@media (max-width: 1199.98px) {
  html {
    font-size: 9.375px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 8.75px;
  }
}

body {
  margin: 0;
  font-family: var(--font-cht);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

/* ---------Reset--------- */
a, button, input, label, select, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a, button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
a:hover, button:hover {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background: none;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

span {
  display: block;
  line-height: inherit;
}

/* ---------Layouts--------- */
footer {
  margin: 0;
}

.container {
  max-width: 140rem;
}

.u-inline {
  display: inline;
}

.u-inline-block {
  display: inline-block;
}

.u-pt-160 {
  padding-top: var(--spacing-160);
}

.u-bd-set {
  min-height: 100vh;
  padding: 130px 4vw;
}
.u-bd-set__img-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.u-object-fit {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.u-object-fit.--abs {
  position: absolute;
  left: 0;
  top: 0;
}
.u-object-fit.--right {
  -o-object-position: right center;
     object-position: right center;
}
.u-object-fit.--bottom {
  -o-object-position: center bottom;
     object-position: center bottom;
}

.u-ff-raleway {
  font-family: var(--font-en-raleway);
}

.u-text-body {
  font-size: 1rem;
}

.u-icon {
  font-size: 3.2rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.u-icon.--lg {
  font-size: 4rem;
}

.title {
  color: var(--dark-purple);
  font-size: 6rem;
  font-family: var(--font-cht);
  font-weight: 600;
  margin: var(--spacing-16);
}
.title-3xl {
  font-size: 5rem;
  letter-spacing: 0;
}
.title-md {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .title-md {
    font-size: 1.7rem;
  }
}
.title__en {
  font-family: var(--font-en-allerta);
  color: var(--dark-purple);
  font-size: 6rem;
  margin: var(--spacing-16);
}
.title__en-3xl {
  font-size: 5rem;
  letter-spacing: 0;
}
.title__en-md {
  font-size: 1.8rem;
  font-weight: 700;
}
@media (max-width: 575.98px) {
  .title__en-md {
    nt-size: 1.7rem;
  }
}

.m-gray {
  color: var(--text-gray);
  font-size: 4rem;
}

.vertical {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.md {
  font-size: 4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}
.md:hover {
  border-bottom: 2px solid var(--dark-purple);
}

/* .accordion-button::after
 * --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var(--dark-purple)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") */
/* .accordion-button:not(.collapsed)::after
 * --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var(--dark-purple)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") */
.sub-title {
  font-family: var(--font-cht);
  color: var(--dark-purple);
  font-size: 3rem;
}

.hs-mask {
  width: 20rem;
}

.l-navbar {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
  margin: 32px;
  z-index: 100;
}
.l-navbar__logo {
  font-size: 4rem;
  font-family: var(--font-en-oleo);
  font-weight: 700;
  font-style: normal;
  color: var(--blue-green);
}
.l-navbar__logo-sm {
  font-size: 1.4rem;
}
.l-navbar__tween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 64px;
}
.l-navbar__tween-sm {
  font-size: 1.4rem;
}
.l-navbar__btn {
  margin-right: 16px;
}
.l-navbar-lg {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 16px;
}

.hamburger {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--blue-green);
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.is-active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.hamburger.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.menu {
  position: absolute;
  margin-right: 35px;
  padding: 40px;
  display: none;
  width: 35vw;
  min-width: 438px;
  background: -webkit-gradient(linear, left top, right top, from(var(--gray-rgba)), to(var(--gray-rgbaa)));
  background: linear-gradient(to right, var(--gray-rgba), var(--gray-rgbaa));
  border-radius: 30px 0;
  font-family: var(--font-cht);
  font-size: 1.8rem;
}
.menu .menu-title {
  color: var(--text-gray);
  font-weight: bold;
}

@-webkit-keyframes menu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes menu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.menu.show {
  display: block;
  -webkit-animation: show 0.35s both;
          animation: show 0.35s both;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--text-gray);
  font-weight: bolder;
  margin: 10px;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: var(--dark-gray);
  border-radius: 50%;
  margin-right: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--blue-green);
  font-weight: bolder;
}
.menu__list .con-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu__list .con-box .d-frame {
  display: none;
  margin-left: 10px;
}
.menu__list .menu-item {
  margin-bottom: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-inline: 2px;
  border-bottom: 2px solid transparent;
}
.menu__list .menu-item:hover {
  border-bottom: 2px solid var(--blue-green);
}
.menu__list .social-box {
  margin-top: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.menu__list .social-box .social-icon {
  margin-left: 10px;
}

#l-gotop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.l-header__bn-mask {
  height: 100vh;
}

.quotes {
  position: absolute;
  top: 40%;
  left: 25%;
  margin-right: 64px;
  z-index: 2;
  color: var(--purple);
}

.en {
  font-family: var(--font-en-allerta);
  font-weight: 400;
  font-style: normal;
  font-size: 3.2rem;
}

.ch {
  text-align: right;
}

.l-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--dark-purple);
}
.l-contact .c-form-box {
  width: 100%;
}

.scrollbox {
  width: 90%;
  height: 70vh;
  overflow: auto;
  padding: 5px;
}
.scrollbox::-webkit-scrollbar {
  width: 10px;
  border: 2px solid var(--white-pink);
  border-radius: 5px;
}
.scrollbox::-webkit-scrollbar-thumb {
  background-color: var(--white-pink);
  border-radius: 5px;
}

.c-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.c-form__field-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--spacing-40);
}
.c-form label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: right;
}
.c-form input {
  background-color: var(--white-pink);
  border: none;
  border-radius: 5px;
  padding: var(--spacing-8) var(--spacing-24);
  margin-left: 4px;
}
.c-form input::-webkit-input-placeholder {
  color: var(--dark-gray);
}
.c-form input::-webkit-placeholder, .c-form input::placeholder {
  color: var(--dark-gray);
}
.c-form__option-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: var(--spacing-40);
}
.c-form__option-wrap input {
  width: 16px;
}
.c-form__checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}
.c-form__checkbox-group label {
  width: auto;
  text-align: left;
}
.c-form textarea {
  background-color: var(--white-pink);
  border: none;
  border-radius: 5px;
  padding: var(--spacing-8) var(--spacing-24);
  margin-left: 4px;
}
.c-form textarea::-webkit-input-placeholder {
  color: var(--dark-gray);
}
.c-form textarea::-webkit-placeholder, .c-form textarea::placeholder {
  color: var(--dark-gray);
}

.c-btn__submit {
  border: 2px solid var(--dark-purple);
  border-radius: 5px;
  width: 110px;
  height: 33px;
  margin: 0 auto;
}

.c-btn {
  font-weight: 900;
}

.para-box {
  margin-bottom: 80px;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.para-box .contact-text {
  text-align: center;
  font-weight: 600;
}

.l-feedback {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(var(--bg-pink), white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 80px;
}
.l-feedback-md {
  display: block !important;
}
.l-feedback .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 662px;
  margin-bottom: 30px;
  margin-top: 60px;
}
.l-feedback .post-md {
  display: block !important;
}

.f-box {
  width: 298px;
  position: absolute;
}
.f-box__1 .f1 {
  -webkit-box-shadow: 10px 10px 10px var(--dark-gray);
          box-shadow: 10px 10px 10px var(--dark-gray);
  border-radius: 10px;
}
.f-box__1 .f1-md {
  position: relative !important;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.f-box__2 {
  -webkit-transform: translate(50px, -280px);
          transform: translate(50px, -280px);
}
.f-box__2-md {
  position: relative;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.f-box__2 .f2 {
  -webkit-box-shadow: 10px 10px 10px var(--dark-gray);
          box-shadow: 10px 10px 10px var(--dark-gray);
  border-radius: 10px;
}
.f-box__3 {
  -webkit-transform: translate(80px, -560px);
          transform: translate(80px, -560px);
}
.f-box__3-md {
  position: relative;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.f-box__3 .f3 {
  -webkit-box-shadow: 10px 10px 10px var(--dark-gray);
          box-shadow: 10px 10px 10px var(--dark-gray);
  border-radius: 10px;
}
.f-box__4 {
  -webkit-transform: translate(160px, -880px);
          transform: translate(160px, -880px);
}
.f-box__4-md {
  position: relative;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.f-box__4 .f4 {
  -webkit-box-shadow: 10px 10px 10px var(--dark-gray);
          box-shadow: 10px 10px 10px var(--dark-gray);
  border-radius: 10px;
}
.f-box__5 {
  -webkit-transform: translate(240px, -1160px);
          transform: translate(240px, -1160px);
}
.f-box__5-md {
  position: relative;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.f-box__5 .f5 {
  -webkit-box-shadow: 10px 10px 10px var(--dark-gray);
          box-shadow: 10px 10px 10px var(--dark-gray);
  border-radius: 10px;
}

.l-about {
  color: var(--text-gray);
}
.l-about .ado-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
}
.l-about .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
}
.l-about .about .about-box .a-frame {
  width: 80px;
  height: 80px;
  margin: 0 0 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.l-footer {
  background-color: var(--gray);
  color: var(--aqua-green);
  text-align: center;
  border-bottom: 4px solid var(--blue-green);
  height: 6vh;
  line-height: 6vh;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 999;
}

.l-service {
  height: 100vh;
  background: radial-gradient(var(--bg-pink), white);
  color: var(--dark-purple);
}
.l-service .ado-box {
  position: absolute;
  bottom: 0;
  width: 70%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.l-service .service-frame {
  padding-top: 160px;
}
.l-service .service-frame .service-list .service-note {
  list-style-type: square;
  margin: 60px 16px;
}
.l-service .col-3 .s-address {
  margin-top: 200px;
}

.l-hair {
  background: radial-gradient(var(--bg-gray), white, white);
  color: var(--dark-purple);
  background-attachment: fixed;
  min-height: 100vh;
}
.l-hair__video-mask {
  height: 100vh;
}
.l-hair__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-purple-rgba);
  z-index: 1;
}
.l-hair__links {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 4vw;
}
.l-hair .fixed {
  position: fixed;
  right: 0;
}