nav.l-navbar
        .l-navbar__logo 
          a(href="index.html") Hairdresser Anny
        .l-navbar__tween
          a.l-navbar__btn(href="index.html#contact") 
            iconify-icon.u-icon.--md(icon="ph:chair-bold", style="color: #5BC0BE")
          .menu-box
            button.hamburger
              span.bar
              span.bar
              span.bar
            .menu 
              h2.menu-title 找髮型Catalog：
              .catalog-list
                a.catalog-item(href="cut.html")  
                  span.dot  
                  p.text 剪髮Cutting
                a.catalog-item(href="db.html")  
                  span.dot  
                  p.text 染髮Dyeing、漂染Bleaching
                a.catalog-item(href="ps.html")  
                  span.dot  
                  p.text 燙髮Perm、縮毛矯正Straightening
                a.catalog-item(href="men.html")  
                  span.dot  
                  p.text 男生髮型Men's Hair Style
                a.catalog-item(href="customize.html")  
                  span.dot  
                  p.text 客製化髮型Customize 
              .menu__list 
                .con-box(onmouseover="dropdownCon()", onmouseout="backCon()")
                  a.menu-item(href="index.html#contact") 預約Contact
                  .contact.d-frame
                    a.menu-item(href="service.html") 服務內容Services
                a.menu-item(href="index.html#feedback") 好評分享Feedback 
                a.menu-item(href="index.html#about") 美髮師About Anny
                .social-box 
                  a.social-icon(href="https://www.facebook.com/profile.php?id=100079939059714") 
                    iconify-icon(icon="teenyicons:facebook-outline", width="34", height="34", style="color: #5BC0BE")
                  a.social-icon(href="https://www.instagram.com/image_520601/?fbclid=IwAR14EWHcLyROCEaA_S7agthu1QEXBZO0IGz71U5coQv2T6Sr_nl99t5chG4_aem_AavqYB8vRqZCzVoJGz49VI6DSqWjJLNt_SKNcqv1EeFTtPEPuGP1_M1jynaq_wfuPkMFV63TSRkqMB4aqDNU5WD4") 
                    iconify-icon(icon="ph:instagram-logo-thin", width="38", height="38", style="color: #5BC0BE")